</div><body bgcolor="#33ccff">
<div align='center' style="font-family:Helvetica; font-weight: lighter; padding-top: 80px">

<h1>Paste your URL!<h1>

<form method="POST" action="/" style="padding-top: 20px">
<input type="text" name="url" value="" id="urlBox" style="border: 2px solid black; border-radius: 4px; width: 160px; height: 30px;"/>
<br>
<input type="submit" value="Shorten" style="border: 2px solid black; border-radius: 4px; width: 120px; height: 30px; margin: 20px; font-size: 15px;"  />
</form>
<% if @url_pair != nil %>
<h2 style="padding-top: 10px"><%= @url_pair['url']%></h2>
<h2 style="padding-top: 10px"><a href="<%= "http://localhost:9393/#{@url_pair['short_url']}"%>"><%= "#{@url_pair['short_url']}"%></a></h2>
<% else %>

<h2>Fill the box with a valid url!</h2>

<% end %>
</body>